asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
pillow
pytesseract
pdf2image
opencv-python-headless
scikit-image
deskew
rapidfuzz
deskew
scikit-image
rapidfuzz